<form [formGroup]="productForm" class="space-y-6">
  <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
    
    <div>
      <label class="block text-sm font-medium mb-1 dark:text-white">Product Name</label>
      <input formControlName="name" class="w-full h-11 px-4 border border-gray-300 rounded-lg dark:bg-gray-900 dark:border-gray-700 dark:text-white" placeholder="e.g. Monitor 24 inch">
    </div>

    <div>
      <label class="block text-sm font-medium mb-1 dark:text-white">SKU</label>
      <input formControlName="sku" class="w-full h-11 px-4 border border-gray-300 rounded-lg dark:bg-gray-900 dark:border-gray-700 dark:text-white" placeholder="e.g. MT-240">
    </div>

    <div>
      <label class="block text-sm font-medium mb-1 dark:text-white">Price</label>
      <input type="number" formControlName="price" class="w-full h-11 px-4 border border-gray-300 rounded-lg dark:bg-gray-900 dark:border-gray-700 dark:text-white" placeholder="0">
    </div>

    <div>
      <label class="block text-sm font-medium mb-1 dark:text-white">Stock Quantity</label>
      <div class="flex h-11 items-center border border-gray-300 rounded-lg overflow-hidden dark:border-gray-700 dark:bg-gray-900">
        <button type="button" (click)="decrementQuantity()" class="px-4 bg-gray-100 dark:bg-gray-800 dark:text-white h-full">-</button>
        <input type="number" formControlName="stock" class="flex-1 text-center h-full border-0 dark:bg-gray-900 dark:text-white">
        <button type="button" (click)="incrementQuantity()" class="px-4 bg-gray-100 dark:bg-gray-800 dark:text-white h-full">+</button>
      </div>
    </div>

    <div class="col-span-full">
      <label class="block text-sm font-medium mb-1 dark:text-white">Description</label>
      <textarea formControlName="description" rows="3" class="w-full p-4 border border-gray-300 rounded-lg dark:bg-gray-900 dark:border-gray-700 dark:text-white" placeholder="Product details..."></textarea>
    </div>
  </div>

  <div class="flex gap-3 justify-end pt-4 border-t border-gray-200 dark:border-gray-800">
    <app-button variant="outline" type="button" (btnClick)="cancel.emit()">Cancel</app-button>
    <app-button variant="primary" type="button" (btnClick)="onPublish()">Publish Product</app-button>
  </div>
</form>